@inherits LayoutComponentBase

<div class="layout">

    <NavMenu />

    <main class="main-content">

        <div class="topbar">
            <span>Finanzas personales</span>
        </div>

        <div class="content">
            @Body
        </div>

    </main>

</div>