<div class="sidebar">

    <div class="sidebar-header">
        <div class="logo-icon">💰</div>
        <div class="logo-text">Finanzas</div>
    </div>

    <nav class="sidebar-menu">

        <NavLink class="menu-item" href="dashboard" Match="NavLinkMatch.All">
            <span class="menu-icon">🏠</span>
            <span>Dashboard</span>
        </NavLink>
        <NavLink class="menu-item" href="inversiones" Match="NavLinkMatch.All">
            <span class="menu-icon">🏠</span>
            <span>Inversiones</span>
        </NavLink>

        <NavLink class="menu-item" href="mes">
            <span class="menu-icon">📅</span>
            <span>Mes</span>
        </NavLink>

        <NavLink class="menu-item" href="gastos">
            <span class="menu-icon">💸</span>
            <span>Gastos</span>
        </NavLink>

        <NavLink class="menu-item" href="historial">
            <span class="menu-icon">📊</span>
            <span>Historial</span>
        </NavLink>

        <NavLink class="menu-item" href="config-categorias">
            <span class="menu-icon">⚙</span>
            <span>Categorías</span>
        </NavLink>

    </nav>

</div>