@page "/gastos"

<h3>Registrar gastos</h3>

<div class="card p-3">

    <div class="mb-3">
        <label>Categoría</label>
        <select class="form-control">
            <option>Casa</option>
            <option>Transporte</option>
            <option>Comida</option>
            <option>Ocio</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Monto</label>
        <input class="form-control" type="number"/>
    </div>

    <div class="mb-3">
        <label>Fecha</label>
        <input class="form-control" type="date"/>
    </div>

    <button class="btn btn-primary">
        Guardar gasto
    </button>

</div>